<div class="container pulldown">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a *ngFor='let menuitem of menu' class="list-group-item list-group-item-action" [class.active]='category===menuitem.key'
          routerLink='/portal/resourcemanager' [queryParams]='{category : menuitem.key}'>
          <h6>{{menuitem.name}}</h6>
        </a>
      </div>
    </div>
    <div class="col">

      <div *ngIf="category==='upcomingprojects'" class="card">
        <div class="card-header">
          Up Coming Projects
        </div>
        <div class="card-body">
          projects
        </div>
      </div>

      <div *ngIf="category==='requestforleave'" class="card">
        <div class="card-header">
          Leave Application
        </div>
        <div class="card-body">
          <div *ngIf="leaveSuccess" class="alert alert-success" role="alert">
            Your leave application has been submitted.
          </div>
          <form #l="ngForm" (ngSubmit)="rsmanagersendLeaveApplication(l.value);l.reset()">
            <div class="form-group">
              <label for="reason">
                <b>Reason</b>
              </label>
              <textarea required ngModel #reason="ngModel" name="reason" class="form-control" id="reason" rows="3" placeholder="Enter the Reason"
                value="this.reason">
                    </textarea>
              <div class="alert alert-danger" *ngIf="reason.touched && !reason.valid">
                Your Reason is required
              </div>
            </div>
            <!--<div class="alert-danger" *ngIf="reason.touched && !reason.valid "> your reason is empty</div>-->
            <div class="raw ">
              <div>
                <div class="col-sm-4 form-group">
                  <div class="input-group">
                    <input required class="form-control" placeholder="yyyy-mm-dd" name="sdate" #sdate="ngModel" [(ngModel)]="startdate" ngbDatepicker
                      #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                        <img src="/assets/date.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                    </div>
                    <div class="alert alert-danger" *ngIf="sdate.touched && !sdate.valid">
                      Start Date is required
                    </div>
                  </div>
                </div>
              </div>
      
              <div>
                <div class="col-sm-4 form-group">
                  <div class="input-group">
                    <input required class="form-control" placeholder="yyyy-mm-dd" name="edate" #edate="ngModel" [(ngModel)]="enddate" ngbDatepicker
                      #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                        <img src="/assets/date.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                    </div>
                    <div class="alert alert-danger" *ngIf="edate.touched && !edate.valid">
                      End Date is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button #sub type="submit" class="btn btn-lg btn-outline-success" [disabled]="!l.valid">
              Submit
            </button>
          </form>
        </div>
      </div>

      <div *ngIf="category==='getemployeedetails'" class="card">
        <div class="card-header">
          Get Employee Details
        </div>
        <div class="card-body">
          leave
        </div>
      </div>

      <div *ngIf="category==='addanotice'" class="card">
        <div class="card-header">
          Add a Notice
        </div>
        <div class="card-body">

        </div>
      </div>

      <div *ngIf="category==='inquiries'" class="card">
        <div class="card-header">
          Inquiries
        </div>
        <div class="card-body">

        </div>
      </div>

    </div>
  </div>
</div>