<div class="container pulldown">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a *ngFor='let menuitem of menu' class="list-group-item list-group-item-action" [class.active]='category===menuitem.key'
          routerLink='/portal/resourcemanager' [queryParams]='{category : menuitem.key}'>
          <h6>{{menuitem.name}}</h6>
        </a>
      </div>
    </div>
    <div class="col">

      <div *ngIf="category==='upcomingprojects'" class="card">
        <div class="card-header">
          Up Coming Projects
        </div>
        <div class="card-body">
          <div *ngIf="projectSuccess" class="alert alert-success" role="alert">
            The project has been assigned.
          </div>
          <div *ngFor="let project of projects" class="card">
            <div class="card-body">
              <h5 class="card-title">{{project.id}}  {{project.projectname}}</h5>
              <p class="card-text">No.of employees: {{project.numofemployees}}</p>
              <p class="card-text">required skills: Java: {{project.java}}  Angular: {{project.angular}}  NodeJs: {{project.nodejs}}</p>
            </div>
            <div>
              <button class="btn btn-lg btn-outline-primary float-right" (click)="open(content1)" (click)="javaactive='true'" (click)="angularactive='false'" (click)="nodejsactive='false'"  (click)="empjava(project.id)">Java</button>
              <button class="btn btn-lg btn-outline-primary float-right" (click)="open(content2)" (click)="javaactive='false'" (click)="angularactive='true'" (click)="nodejsactive='false'"(click)="empangular(project.id)">Angular</button>
              <button class="btn btn-lg btn-outline-primary float-right" (click)="open(content3)" (click)="javaactive='false'" (click)="angularactive='false'" (click)="nodejsactive='true'"(click)="empnodejs(project.id)">NodeJs</button>
              <button class="btn btn-lg btn-outline-primary float-right" (click)="clickassigned(project)">Assign</button>
            </div>
          </div>
<!--Editing area ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
          <div>
            <ng-template #content1 let-c="close" let-d="dismiss">
              <div *ngIf="javaactive">
                <div *ngIf="addedSuccess" class="alert alert-success" role="alert">
                  Successfully Added.
                </div>
                <ul *ngFor="let people of javapeople" class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{people.id}} {{people.firstname}} {{people.lastname}}</h5>
                    <span class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary" (click)='assignpeople(people,projectID)'>Add</button>
                    </span>
                  </li>
                </ul>
              </div>
              </ng-template>
              <ng-template #content2 let-c="close" let-d="dismiss">
              <div *ngIf="angularactive">
                <div *ngIf="addedSuccess" class="alert alert-success" role="alert">
                   Successfully Added.
                </div>
                <ul *ngFor="let people of angularpeople" class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{people.id}} {{people.firstname}} {{people.lastname}}</h5>
                    <span class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary" (click)='assignpeople(people,projectID)'>Add</button>
                    </span>
                  </li>
                </ul>
              </div>
              </ng-template>
              <ng-template #content3 let-c="close" let-d="dismiss">
              <div *ngIf="nodejsactive">
                <div *ngIf="addedSuccess" class="alert alert-success" role="alert">
                   Successfully Added.
                </div>
                <ul *ngFor="let people of nodejspeople" class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{people.id}} {{people.firstname}} {{people.lastname}}</h5>
                    <span class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary" (click)='assignpeople(people,projectID)'>Add</button>
                    </span>
                  </li>
                </ul>
              </div>
            </ng-template>
          
          </div>
<!--Editing area ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
        </div>
      </div>

      <div *ngIf="category==='requestforleave'" class="card">
        <div class="card-header">
          Leave Application
        </div>
        <div class="card-body">
          <div *ngIf="leaveSuccess" class="alert alert-success" role="alert">
            Your leave application has been submitted.
          </div>
          <form #l="ngForm" (ngSubmit)="rsmanagersendLeaveApplication(l.value);l.reset()">
            <div class="form-group">
              <label for="reason">
                <b>Reason</b>
              </label>
              <textarea required ngModel #reason="ngModel" name="reason" class="form-control" id="reason" rows="3" placeholder="Enter the Reason"
                value="this.reason">
                    </textarea>
              <div class="alert alert-danger" *ngIf="reason.touched && !reason.valid">
                Your Reason is required
              </div>
            </div>
            <!--<div class="alert-danger" *ngIf="reason.touched && !reason.valid "> your reason is empty</div>-->
            <div class="raw ">
              <div>
                <div class="col-sm-4 form-group">
                  <div class="input-group">
                    <input required class="form-control" placeholder="yyyy-mm-dd" name="sdate" #sdate="ngModel" [(ngModel)]="startdate" ngbDatepicker
                      #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                        <img src="/assets/date.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                    </div>
                    <div class="alert alert-danger" *ngIf="sdate.touched && !sdate.valid">
                      Start Date is required
                    </div>
                  </div>
                </div>
              </div>
      
              <div>
                <div class="col-sm-4 form-group">
                  <div class="input-group">
                    <input required class="form-control" placeholder="yyyy-mm-dd" name="edate" #edate="ngModel" [(ngModel)]="enddate" ngbDatepicker
                      #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                        <img src="/assets/date.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                    </div>
                    <div class="alert alert-danger" *ngIf="edate.touched && !edate.valid">
                      End Date is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button #sub type="submit" class="btn btn-lg btn-outline-success" [disabled]="!l.valid">
              Submit
            </button>
          </form>
        </div>
      </div>

      <div *ngIf="category==='getemployeedetails'" class="card">
        <div class="card-header">
          Get Employee Details
        </div>
        <div class="card-body">
          <div class="col-lg-12 well">
            <div class="row">
              <form #fm="ngForm" (ngSubmit)="getdetails(fm.value)">
                <div class="col-sm-12">
      
                  <div class="form-group">
                    <label>ID</label>
                    <input required minlength="2" pattern="[0-9]{2,5}" ngModel name='detailId' #detailId="ngModel" type="number" placeholder="Enter ID Here.."
                      class="form-control">
                    <div *ngIf="detailId.touched && !detailId.valid">
                      <div class="alert alert-danger" *ngIf="detailId.errors.required">
                        ID is required
                      </div>
                      <div class="alert alert-danger" *ngIf="detailId.errors.pattern">
                        ID is invalid
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="clickedApp='true'" [disabled]="!fm.valid">Search</button>
      
                </div>
      
                <p>
                  <!--{{ fm.value | json }}-->
                </p>
      
              </form>
            </div>
          </div>
      
          <div *ngIf="clickedApp">
            <span role="group" aria-label="Basic example">
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Employee Details</h4>
                  <button type="button" class="close" aria-label="Close" (click)="clickedApp='false'" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="container">
      
                  <div class="panel-group">
      
                    <div class=" panel panel-default">
                      <div class="panel-heading panel-success">
                        <b> Name</b>
                      </div>
                      <div class="panel-body">{{employeedetails.firstname}} {{employeedetails.lastname}}</div>
                    </div>
      
                    <div class="panel panel-default">
                      <div class="panel-heading panel-success">
                        <b>Residence</b>
                      </div>
                      <div class="panel-body">Address :{{employeedetails.reason}} City: {{employeedetails.city}}</div>
                    </div>
      
                    <div class="panel panel-default">
                      <div class="panel-heading panel-success">
                        <b>Start Date</b>
                      </div>
                      <div class="panel-body">{{employeedetails.startdate}} </div>
                    </div>
      
                    <div class="panel panel-default">
                      <div class="panel-heading panel-success">
                        <b>Birthday</b>
                      </div>
                      <div class="panel-body">{{employeedetails.birthday}} </div>
                    </div>
      
                    <div class="panel panel-default">
                      <div class="panel-heading panel-success">
                        <b>Contacts</b>
                      </div>
                      <div class="panel-body">Tel:{{employeedetails.phnnum}} Email: {{employeedetails.email}} </div>
                    </div>
      
                    <div class="panel panel-default">
                      <div class="panel-heading panel-success">
                        <b>Skills</b>
                      </div>
                      <div class="panel-body">Java :{{employeedetails.java}} Angular: {{employeedetails.angular}} NodeJs: {{employeedetails.nodejs}}</div>
                    </div>
      
                  </div>
      
                </div>
              </ng-template>
              <div *ngIf="employeedetails">
                <button class="btn btn-lg btn-outline-primary" (click)="open(content)" [disabled]="!fm.valid">view</button>
              </div>
              <hr>
            </span>
          </div>
      
        </div>
      </div>

      <div *ngIf="category==='addanotice'" class="card">
        <div class="card-header">
          Add a Notice
        </div>
        <div class="card-body">
          <div *ngIf="noticeSuccess" class="alert alert-success" role="alert">
            Your notice has been submitted.
          </div>
      
          <div *ngFor="let notice of notices" class="card">
            <div class="card-body">
              <h5 class="card-title">{{notice.title}}</h5>
              <p class="card-text">{{notice.description}}</p>
            </div>
            <div>
              <!--button class="btn btn-lg btn-outline-primary   float-mid" (click)="editNotice(notice)">Edit</button-->
      
              <button class="btn btn-lg btn-outline-primary float-right" (click)="removeNotice(notice)">Remove</button>
            </div>
          </div>
      
          <div>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"> New Notice</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #n="ngForm">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input ngModel type="text" name="title" class="form-control" id="title" placeholder="Enter the Title">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea ngModel name="description" class="form-control" id="description" rows="3" placeholder="Enter Your description"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')" (click)=addNotice(n.value)>Save</button>
              </div>
            </ng-template>
      
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Notice</button>
      
          </div>
        </div>
      
      </div>

      <div *ngIf="category==='inquiries'" class="card">
        <div class="card-header">
          Inquiries
        </div>
        <div class="card-body">
          <div *ngIf="success" class="alert alert-success" role="alert">
            Your Inquiry has been submitted.
          </div>
          <form #f="ngForm" (ngSubmit)="newInquiry(f.value); f.reset()">
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="email" ngModel name="subject" class="form-control" id="subject" placeholder="Enter Subject" value="{{this.subject}}">
            </div>
            <div class="form-group">
              <label for="inquiry">Inquiry</label>
              <textarea ngModel name="inquiry" class="form-control" id="inquiry" rows="3" placeholder="Enter Your Inquiry" value="this.inquiry"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>